@model System.Data.DataTable
@using System.Data

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        <form id="frmNewBook" method="post" action="@Url.Action("InsertRecord")">
            Book Title:<input name="txtTitle" />
            <br />
            Author Name:
            <select name="txtAuthorName">
                <option selected> select AuthorName</option>
                @foreach (DataRow dr in Model.Rows)
                {
                    <option value="@dr["AuthorName"].ToString()">@dr["AuthorName"].ToString()</option>
                }
            </select>
            <br />
            Price: <input name="txtPrice" />
            <br />
            <input type="submit" value="Submit" name="action" />
            <input type="submit" value="Cancel" name="action" />

        </form>
    </div>
    <div>
        <form method="post" name="Display">
            <h2>Author Details</h2>
           
            @{
                if (Model.Rows.Count > 0)
                {
                    <table border="1">
                        <thead>
                            <tr>
                                <td>AuthorID</td>
                                <td>AuthorName</td>

                            </tr>
                        </thead>
                        @foreach (DataRow dr in Model.Rows)
                        {
                            <tr>
                                <td>@dr["AuthorID"].ToString()</td>
                                <td>@dr["AuthorName"].ToString()</td>

                            </tr>

                        }
                    </table>
                }

            }
        </form>

    </div>
</body>
</html>
