@model System.Data.DataTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div> 
        <form id="frmedit" method="post" action="@Url.Action("Update")">
            BookID : <input name="txtBookID" value="@Model.Rows[0]["Bookid"]" /> <br />
            BookTitle : <input name="txtTitle" value="@Model.Rows[0]["Title"] " /> <br />
            AuthorId : <input name="txtAid" value="@Model.Rows[0]["AuthorID"]" /> <br />

            Price : <input name="txtPrice" value="@Model.Rows[0]["Price"]" /> <br />
            <br />
            <input type="Submit" value="Submit" name="action" />
            <input type="Submit" value="Cancel" name="action" />

        </form>
    </div>
</body>
</html>
