@model System.Data.DataTable
@using System.Data
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div> 
        <form method="post" name="Display">
            <h2>Home</h2>
            @Html.ActionLink("Add New Book", "Insert");
            @{ 
                if (Model.Rows.Count>0)
            {
                <table border="1">
                    <thead>
                                    <tr>
                                        <td>BookID</td>
                                        <td>Title of the Book</td>
                                        <td>AuthorName</td>
                                        <td>Price</td>
                                    </tr>
                    </thead>
                    @foreach( DataRow dr in Model.Rows)
                    {
                <tr>
                    <td>@dr["BookID"].ToString()</td>
                    <td>@dr["Title"].ToString()</td>
                    <td>@dr["AuthorName"].ToString()</td> 
                    <td>@dr["Price"].ToString()</td>
                    <td>@Html.ActionLink("Edit","Edit", new { BookID = dr["bookid"].ToString() })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { BookID = dr["bookid"].ToString() })</td>
                </tr>

                    }
                </table>
            }

            }
        </form>
    </div>
</body>
</html>
